@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  padding: 1.5rem;
  background-image: linear-gradient(95.2deg, rgb(23, 22, 59) 26.8%, rgb(8, 8, 37) 64%);
  height: 100lvh;
  display: flex;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
}


ul {
  list-style: none;
  padding-left: 1rem;
}